# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
**/build/

# Ignore bin directories
**/bin/

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings/

# Logs
logs
*.log

# Build artifacts
*.jar
*.war
/gradle/
