# Ignore Gradle project-specific cache directory
.gradle
/.gradle/

# Ignore Gradle build output directory
**/build/
/build/

# Ignore bin directories
**/bin/

# IntelliJ IDEA
.idea
/.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# GitHub
.github/
/.github/

# Logs
logs
*.log

# Build artifacts
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

# Git files (일반적으로 이미 추적되고 있어서 불필요)
# .gitignore
# .gitattributes

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.swp
*~
/build.txt
/deps.txt
/search.txt
/tree.txt
